.container{

width:600px;
height:560px;
background-color:#ee9ca7;

}

.formcontrol{
 border-radius: 5px;
    color: #29303b;
    font-size: 18px;
    height: auto;
    padding: 11px 45px 12px 40px;
    width: 35%;
    height: 45px;
    font-size: 16px;
    border: 1px solid #8a92a3;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s
    margin-left:12px;
}
.btnsignup{
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    margin-bottom: 16px;
    width: 34%;
    margin-top:61px;
    margin-left: 94px;
    background-color: #ec5252;
    border: 1px solid transparent;
    color:white;

}
..btnsignup:hover{

    background-color: #992337;

}
.formgroup{
 width: 802px;
margin-left: 91px;
margin-top: 21px;
}
.forma{
margin-left:350px;
margin-top:100px;

}
.seperator{
   box-sizing: border-box;
    border-top: 1px solid #dedfe0;
    height: 1px;
}
.privacy{
margin-top: 51px;
margin-left: 362px;
}
.policy{
    color:#6367e2;

}
.already{
font-size: 15px;
 line-height: 1.43;
 margin-left: 439px;
     margin-top: 50px;

}
.Log{
font-weight: 700;
color: #007791;

}
.Log:hover{
#001291;
}
